table.iws_table {
	BORDER-TOP-style: solid; BORDER-RIGHT-style: solid; BORDER-LEFT-style: solid; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-style: solid
}
table.iws_table TD.white {
	BACKGROUND: white
}
table.iws_table TD.gray {
	BACKGROUND: gray
}
table.iws_table TD.bold {
	FONT-WEIGHT: bold
}
table.iws_brown TD.dark {
	BACKGROUND: #8d6731; COLOR: white
}
table.iws_brown TD.mid {
	BACKGROUND: #b19a78; COLOR: white
}
table.iws_brown TD.light {
	BACKGROUND: #f0eae1
}
table.iws_burgundy TD.dark {
	BACKGROUND: #751611; COLOR: white
}
table.iws_burgundy TD.mid {
	BACKGROUND: #b67875; COLOR: white
}
table.iws_burgundy TD.light {
	BACKGROUND: #f3dad8
}
table.iws_green TD.dark {
	BACKGROUND: #4e6c49; COLOR: white
}
table.iws_green TD.mid {
	BACKGROUND: #87a583; COLOR: white
}
table.iws_green TD.light {
	BACKGROUND: #deeedc
}
table.iws_grey TD.dark {
	BACKGROUND: #424242; COLOR: white
}
table.iws_grey TD.mid {
	BACKGROUND: #838383; COLOR: white
}
table.iws_grey TD.light {
	BACKGROUND: #ececec
}
table.iws_purple TD.dark {
	BACKGROUND: #554255; COLOR: white
}
table.iws_purple TD.mid {
	BACKGROUND: #aa86aa; COLOR: white
}
table.iws_purple TD.light {
	BACKGROUND: #f3e9f3
}
table.iws_slate TD.dark {
	BACKGROUND: #325884; COLOR: white
}
table.iws_slate TD.mid {
	BACKGROUND: #638cbb; COLOR: white
}
table.iws_slate TD.light {
	BACKGROUND: #d1e4fa
}
table.iws_scheme1 TD.dark {
	BACKGROUND: #699; COLOR: white
}
table.iws_scheme1 TD.mid {
	BACKGROUND: #f90; COLOR: white
}
table.iws_scheme1 TD.light {
	BACKGROUND: #f1f1eb
}
table.iws_scheme2 TD.dark {
	BACKGROUND: #696; COLOR: white
}
table.iws_scheme2 TD.mid {
	BACKGROUND: #cc0; COLOR: white
}
table.iws_scheme2 TD.light {
	BACKGROUND: #fdfee3
}
table.iws_scheme3 TD.dark {
	BACKGROUND: #930; COLOR: white
}
table.iws_scheme3 TD.mid {
	BACKGROUND: #f60; COLOR: white
}
table.iws_scheme3 TD.light {
	BACKGROUND: #fdfee3
}
table.iws_scheme4 TD.dark {
	BACKGROUND: #369; COLOR: white
}
table.iws_scheme4 TD.mid {
	BACKGROUND: #f60; COLOR: white
}
table.iws_scheme4 TD.light {
	BACKGROUND: #fffef0
}
